/* Reset & Base Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #f4f1ea;
    color: #444;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.container {
    max-width: 500px;
    background: #ffffff;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    overflow: hidden;
    text-align: center;
    padding: 30px 20px;
}

/* Typography */
h1.mempelai-names {
    font-family: 'Georgia', serif;
    font-size: 2.5rem;
    color: #8a6d3b;
    margin: 15px 0;
}

.subtitle {
    letter-spacing: 4px;
    font-size: 0.8rem;
    color: #999;
}

/* Images */
.image-wrapper {
    margin: 20px 0;
}

.main-photo {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 150px 150px 0 0; /* Model Kubah */
    border: 5px solid #f4f1ea;
}

/* Dividers */
.divider {
    border: 0;
    border-top: 1px solid #d4af37;
    width: 60%;
    margin: 20px auto;
}

/* Guest Box */
.guest-box {
    background-color: #fcf9f2;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

.guest-name {
    color: #333;
    font-size: 1.2rem;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.7rem;
}

/* Couple Detail */
.couple-info {
    margin: 25px 0;
}

.timer {
    font-size: 1.2rem;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #8a6d3b;
    margin-bottom: 20px;
    padding: 40px;
    background-color: #fcf9f2;
    border-radius: 10px;
}

.person h3 {
    color: #8a6d3b;
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.ampersand {
    display: block;
    font-size: 1.5rem;
    margin: 10px 0;
    color: #d4af37;
}

.quote {
    font-style: italic;
    font-size: 0.7rem;
    padding: 0 20px;
    margin: 15px 0;
    color: #777;
}

/* Event Cards */
.event-cards {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.card {
    flex: 1;
    margin: 0 5px;
    padding: 15px;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card img {
    width: 30px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 0.85rem;
    font-weight: bold;
}

.btn-map {
    display: inline-block;
    padding: 12px 25px;
    background-color: #8a6d3b;
    color: #fff;
    text-decoration: none;
    border-radius: 30px;
    transition: background 0.3s;
    margin-top: 15px;
}

.btn-map:hover {
    background-color: #6d552e;
}

.closing {
    font-weight: bold;
    margin-top: 20px;
    color: #8a6d3b;
}

.copyright {
    margin-top: 40px;
    font-size: 0.7rem;
    color: #bbb;
}

.rsvp-form {
    background-color: #fcf9f2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

/* Styling Input */
input[type="text"], 
input[type="email"] 
{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 7px;
  box-sizing: border-box; /* Penting agar padding tidak merusak lebar */
  transition: border-color 0.3s ease;
}

button {
    margin-top: 15px;
    padding: 8px 30px;
    background-color: #8a6d3b;
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.rsvp-title {
    color: #8a6d3b;
    margin-bottom: 15px;
    font-size: 1.0rem;
}
ol {
    text-align: left;
    color: #555;
    background-color: #fcf9f2;
    padding-left: 130px;
    font-size: 0.7rem;
}
a {
    color: #8a6d3b;
    margin-top: 90px;
    text-decoration: none;
    font-size: 0.7rem;
}

a:hover {
    text-decoration: underline;
}

.map {
    margin-top: 10px;
    border: 0;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}